In [1]:
import pandas as pd
import numpy as np

In [2]:
customer_names = pd.read_csv("northwind-mongo-master/customers.csv", usecols=['CustomerID', 'CompanyName'])
customer_cities = pd.read_csv("northwind-mongo-master/customers.csv", usecols=['CustomerID', 'City', 'Country'])

In [3]:
len(customer_names)

91

In [4]:
len(customer_cities)

91

In [5]:
customer_names.set_index('CustomerID', inplace=True)

In [6]:
customer_cities.set_index('CustomerID',inplace=True)

In [7]:
customer_names.join(customer_cities).head()

                                   CompanyName          City  Country
CustomerID
ALFKI                      Alfreds Futterkiste        Berlin  Germany
ANATR       Ana Trujillo Emparedados y helados  M?©xico D.F.   Mexico
ANTON                 Antonio Moreno Taquer?­a  M?©xico D.F.   Mexico
AROUT                          Around the Horn        London       UK
BERGS                      Berglunds snabbk?¶p        Lule??   Sweden

In [8]:
len(customer_names.join(customer_cities))

91

In [9]:
customer_names.reset_index(inplace=True)

In [10]:
customer_names.join(customer_cities, on='CustomerID').head()

  CustomerID                         CompanyName          City  Country
0      ALFKI                 Alfreds Futterkiste        Berlin  Germany
1      ANATR  Ana Trujillo Emparedados y helados  M?©xico D.F.   Mexico
2      ANTON            Antonio Moreno Taquer?­a  M?©xico D.F.   Mexico
3      AROUT                     Around the Horn        London       UK
4      BERGS                 Berglunds snabbk?¶p        Lule??   Sweden

In [11]:
customer_names.join(customer_cities, on='CustomerID').head()

  CustomerID                         CompanyName          City  Country
0      ALFKI                 Alfreds Futterkiste        Berlin  Germany
1      ANATR  Ana Trujillo Emparedados y helados  M?©xico D.F.   Mexico
2      ANTON            Antonio Moreno Taquer?­a  M?©xico D.F.   Mexico
3      AROUT                     Around the Horn        London       UK
4      BERGS                 Berglunds snabbk?¶p        Lule??   Sweden