In [1]:
import pandas as pd
import numpy as np

In [2]:
suppliers = pd.read_csv("./northwind-mongo-master/suppliers _del_1.csv", usecols=["SupplierID", "CompanyName", "City"])

In [3]:
products = pd.read_csv("./northwind-mongo-master/products_del_1.csv", usecols=['ProductID', 'ProductName', 'SupplierID'])

In [4]:
prod_and_sup = products.merge(suppliers,on="SupplierID")

In [5]:
print(len(suppliers))
print(len(products))
print(len(prod_and_sup))

27
75
70

In [6]:
prod_and_sup_outer = products.merge(suppliers,on="SupplierID",how="outer", indicator=True)

In [7]:
prod_and_sup_outer.head()

,ProductID,ProductName,SupplierID,CompanyName,City,_merge
0,1.0,Chai,1,Exotic Liquids,London,both
1,2.0,Chang,1,Exotic Liquids,London,both
2,3.0,Aniseed Syrup,1,Exotic Liquids,London,both
3,4.0,Chef Anton's Cajun Seasoning,2,New Orleans Cajun Delights,New Orleans,both
4,5.0,Chef Anton's Gumbo Mix,2,New Orleans Cajun Delights,New Orleans,both

In [8]:
filter_right_only = prod_and_sup_outer["_merge"] == "right_only"
prod_and_sup_outer[filter_right_only]

,ProductID,ProductName,SupplierID,CompanyName,City,_merge
75,NaN,NaN,27,Escargots Nouveaux,Montceau,right_only

In [9]:
filter_left_only = prod_and_sup_outer["_merge"] == "left_only"
prod_and_sup_outer[filter_left_only]

    ProductID          ProductName  SupplierID CompanyName City     _merge
27       22.0  Gustaf's Knäckebröd           9         NaN  NaN  left_only
28       23.0             Tunnbröd           9         NaN  NaN  left_only
48       36.0          Inlagd Sill          17         NaN  NaN  left_only
49       37.0           Gravad lax          17         NaN  NaN  left_only
50       73.0           Röd Kaviar          17         NaN  NaN  left_only