In [1]:
import pandas as pd

In [3]:
fortune500 = pd.read_csv('Fortune_500_2017.csv', usecols=['Rank','Title'], index_col='Rank').squeeze()

In [5]:
fortune500.head(10)

Rank
1                Walmart
2     Berkshire Hathaway
3                  Apple
4            Exxon Mobil
5               McKesson
6     UnitedHealth Group
7             CVS Health
8         General Motors
9                   AT&T
10            Ford Motor
Name: Title, dtype: object

In [6]:
fortune500.tail(10)

Rank
491                Liberty Media
492             Rockwell Collins
493    Robert Half International
494                    CH2M Hill
495                     Big Lots
496                Michaels Cos.
497                Toll Brothers
498                        Yahoo
499                Vistra Energy
500               ABM Industries
Name: Title, dtype: object

In [7]:
fortune500 = pd.read_csv('Fortune_500_2017.csv', usecols=['Title','Employees'], index_col='Title').squeeze()

In [8]:
fortune500.head(10)

Title
Walmart               2300000
Berkshire Hathaway     367700
Apple                  116000
Exxon Mobil             72700
McKesson                68000
UnitedHealth Group     230000
CVS Health             204000
General Motors         225000
AT&T                   268540
Ford Motor             201000
Name: Employees, dtype: int64

In [9]:
fortune500.loc['IBM']

414400

In [10]:

fortune500['IBM':'Intel']

Title
IBM                          414400
State Farm Insurance Cos.     68234
Phillips 66                   14800
Johnson & Johnson            126400
Procter & Gamble             105000
Valero Energy                  9996
Target                       323000
Freddie Mac                    5982
Loweâ€™s                       240000
Dell Technologies            138000
MetLife                       58000
Aetna                         49500
PepsiCo                      264000
Archer Daniels Midland        31800
UPS                          335520
Intel                        106000
Name: Employees, dtype: int64